.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(255,255,255);
   padding: 15px 0;
    transition: 0.5s;
    border: 2px solid black;
}
.nav_logo img{
    width: 120px;
    
}
.nav_links ul{
    display: flex;
    /* border: 2px solid black; */
}
.nav_links ul li{
   
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 1.1rem;
}
.nav_links ul li a{
    color: black;
}