.msg{
    position: relative;
    max-width: 700px;
    width: 80%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    margin: 20px auto;
    /* border: 2px solid red; */
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.msg header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.msg .form{
    margin-top:30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;

}
label{
    display: block;
}
.input-box label{
    color: #333;
}
.form :where(.input-box input , .select-box){
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.form .column{
    display: flex;
    column-gap: 15px;
}
.form .gender-box{
    margin-top: 20px;
}
.msg textarea{
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
    border:1px solid #707070;
    outline: none;
    font-size: 1rem;
    color: #707070;
    padding: 5px 15px;
}
.gender-box h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.form :where(.gender-option, .gender){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.form .gender{
    column-gap: 5px;
    cursor: pointer;
}
.gender input{
    accent-color: rgb(130 ,106 , 251);
}
.form :where(.gender input , .gender label){
    cursor: pointer;
   

}
.gender label{
    color: #707070;
}
.address :where(input, .select-box){
    margin-top: 20px;
}
.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button{
    height: 55px;
    width: 100%;
    color: #fff;
    background-color: rgb(130, 106, 251);
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;

}
.form button:hover{
    background-color: rgb(88, 56, 250);
}

@media screen and (max-width :500px) {
    .form .column {
        flex-wrap: wrap;
    }
 
}